* {
    --bg-color: #8BA49A;
    --primary-color: #E2DFDA;
    --border-color: #c5c3be;
    --button-border: white;
    --marked-done: #6a7b74;
    --mark-done-hover: #8BA49A;
    --grey-hover: #e2e2e2;
    --delete1: #73221c;
    --delete2: #CA3433;
    --white: #f2efed;
    --font-primary-color: #474747;
    --font1: "Roboto Mono", serif;
    --transition-hover: ease 0.4s;
    font-family: var(--font1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    display: grid;
    justify-content: center;
}


main {
    background-color: var(--primary-color);
    min-width: 450px;
    padding: 2rem;
    border: 4px solid var(--border-color);
    border-radius: 20px;
    margin: 2rem;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    color: var(--white);
}

h2 {
    font-weight: 450;
}

button, input {
    cursor: pointer;
}

button {
    color: black;
    transition: var(--transition-hover);
    background-color: var(--white);
}

/* ALT INDHOLD I MIN TASK LI */
.li_container {
    min-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


li {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    
}

li:last-child {
    border-bottom: none;
}

.li_elm_1 {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 10px;
    
}

/* Input felter styling */


.text_input, .new_task_input {
    color: rgb(71, 71, 71);
    border: none;
    font-size: 16px;
    background-color: transparent;
    margin-left: 10px;
    cursor: auto;
    min-width: 200px;
    
}

.new_task_container {
display: flex;
flex-direction: column;
justify-content: center;
}

.new_task_input {
    border: none;
}

.date_input {
    border: transparent;
    border-radius: 5px;
    background: rgb(231, 231, 231);
    font-size: 12px;
    color: grey;
    width: auto;
    cursor: pointer;
    text-align: left;
    padding: 3px;
}

.date_input::-webkit-calendar-picker-indicator {
    display: none;
}

.date_input:empty::before {
    content: "Vælg dato";
    color: lightgrey;
}

.date_input:focus {
    outline: none;
    color: black;
}

#completed_tasks_container {
    margin-top: 2rem;
}

.amount-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  

  .amount_input{
    -moz-appearance: textfield; /* Fjern piletaster i Firefox */
    -webkit-appearance: none; /* Fjern piletaster i WebKit-browsere (Chrome, Safari) */
    appearance: none; /* Fjern piletaster i moderne browsere */
    width: 30px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 0px;
    background-color: var(--white);
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  /* Fjerner piletasterne i Firefox */
  
  input[type="number"] {
    appearance: none;
      -moz-appearance: textfield;  
  }

  
  .amount-container button {
    background-color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 5px;
    height: 20px;
  }
  .amount-container button:first-child {
      border-radius: 5px 0px 0px 5px;
  }

  .amount-container button:last-child {
    border-radius: 0px 5px 5px 0px;
}
  
  .amount-container button:hover {
    background-color: var(--grey-hover);
  }
  


/* Knapper */

.plus_sign {
    border: none;
    background-color: transparent;
    font-size: 25px;
    width: 20px;
}

.plus_sign:hover {
    color: grey;
}

.button_container {
    margin-left: 15px;
}

.delete_button {
    border: solid var(--delete1) 2px;
    color: var(--delete1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-bottom: 2px;
}

.delete_button:hover {
    background-color: var(--delete2);
    color: var(--white);
}


.mark_toggle_done {
    appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid var(--marked-done);
    border-radius: 50%; 
    background-color: var(--white);
    transition: var(--transition-hover);
}

.mark_toggle_done::before {
    content: "";
    width: 14px; /* Størrelse af indre cirkel */
    height: 14px;
    border: 1px solid var(--white); /* Inner border */
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    transition: var(--transition-hover);
}

.mark_toggle_done:hover {
    background-color: var(--mark-done-hover);
}

.mark_toggle_done:checked {
    background-color: var(--marked-done);
}
.mark_toggle_done:checked:hover {
    background-color: var(--mark-done-hover);
}

.add_task_button {
    border: solid var(--border-color) 2px  ;
    border-radius: 5px;
    padding: 0px 7px;
    height: 20px;
    display: flex;
    align-items: center;
}

.add_task_button:hover {
    background-color: var(--border-color);
    color: var(--white);
}



/* Classes der tilføjes i javascript */
.completed .text_input{
    color: grey;
    text-decoration: line-through;
}


/* Animationer */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutToBottom {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  
  @keyframes slideToSide {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
  }
  

  .slideIn-animation {
    animation: slideInFromTop 0.5s ease-in;
  }
  

  .slideOut-animation {
    animation: slideOutToBottom 0.5s ease-in;
  }
  
  .delete-animation {
    animation: slideToSide 0.5s ease-in;
  }